/* CONFIG STYLES Please do not delete and edit CSS styles below */
/* IMPORTANT THIS STYLES MUST BE ON FINAL EMAIL */
.rollover:hover .rollover-first {
  max-height: 0px !important;
  display: none !important;
}
.rollover:hover .rollover-second {
  max-height: none !important;
  display: block !important;
}
.rollover span {
  font-size: 0px;
}
u + .body img ~ div div {
  display: none;
}
#outlook a {
  padding: 0;
}
span.MsoHyperlink,
span.MsoHyperlinkFollowed {
  color: inherit;
  mso-style-priority: 99;
}
a.es-button {
  mso-style-priority: 100 !important;
  text-decoration: none !important;
}
a[x-apple-data-detectors],
#MessageViewBody a {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
.es-desk-hidden {
  display: none;
  float: left;
  overflow: hidden;
  width: 0;
  max-height: 0;
  line-height: 0;
  mso-hide: all;
}
/*
  END OF IMPORTANT
*/
body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
table {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  border-collapse: collapse;
  border-spacing: 0px;
}
table td,
body,
.es-wrapper {
  padding: 0;
  Margin: 0;
}
.es-content,
.es-header,
.es-footer {
  width: 100%;
  table-layout: fixed !important;
}
img {
  display: block;
  font-size: 14px;
  border: 0;
  outline: none;
  text-decoration: none;
  margin: 0;
}
p,
hr {
  Margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  Margin: 0;
  font-family: arial, 'helvetica neue', helvetica, sans-serif;
  mso-line-height-rule: exactly;
  letter-spacing: 0;
}
p,
a {
  mso-line-height-rule: exactly;
}
.es-left {
  float: left;
}
.es-right {
  float: right;
}
.es-menu td {
  border: 0;
}
.es-menu div {
  vertical-align: middle;
  display: block;
}
.es-menu td a img {
  display: inline !important;
  vertical-align: middle;
}
sub,
sup {
  display: inline-block;
  font-size: 75% !important;
  line-height: 1 !important;
}
sub {
  vertical-align: bottom;
  mso-text-raise: -30%;
}
sup {
  mso-text-raise: 30%;
  vertical-align: top;
}
strong {
  font-weight: 700 !important;
}
/*
  END CONFIG STYLES
  */
s {
  text-decoration: line-through;
}
ul, ol {
  font-family: arial, 'helvetica neue', helvetica, sans-serif;
  padding: 0px 0px 0px 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}
ul li {
  color: #333333;
}
ol li {
  color: #333333;
}
li {
  margin: 0px 0px 15px;
  font-size: 14px;
}
li p {
  mso-margin-bottom-alt: 15px;
}
a {
  text-decoration: none;
}
.es-menu td a {
  font-family: arial, 'helvetica neue', helvetica, sans-serif;
  text-decoration: none;
  display: block;
}
.es-wrapper {
  width: 100%;
  height: 100%;
  background-image: url('https://jjihzh.stripocdn.email/content/guids/CABINET_7b6b27c42082d1c129d066d24dabbd5fc652f8e2c424b00783826cf47ab2ce4d/images/abstractwavepngtransparent.png');
  background-repeat: repeat;
  background-position: center top;
  background-size: auto;
}
.es-wrapper-color,
.es-wrapper {
  background-color: #fafafa;
}
.es-content-body p,
.es-footer-body p,
.es-header-body p,
.es-infoblock p {
  font-family: arial, 'helvetica neue', helvetica, sans-serif;
  line-height: 150%;
  letter-spacing: 0;
}
.es-header {
  background-color: transparent;
  background-repeat: repeat;
  background-position: center top;
}
.es-header-body {
  background-color: transparent;
}
.es-header-body p {
  color: #333333;
  font-size: 14px;
}
.es-header-body a {
  color: #666666;
  font-size: 14px;
}
.es-footer {
  background-color: transparent;
  background-repeat: repeat;
  background-position: center top;
}
.es-footer-body {
  background-color: #ffffff;
}
.es-footer-body p {
  color: #333333;
  font-size: 12px;
}
.es-footer-body a {
  color: #333333;
  font-size: 12px;
}
.es-content-body {
  background-color: #ffffff;
}
.es-content-body p {
  color: #333333;
  font-size: 14px;
}
.es-content-body a {
  color: #5c68e2;
  font-size: 14px;
}
.es-infoblock p {
  font-size: 12px;
  color: #cccccc;
}
.es-infoblock a {
  font-size: 12px;
  color: #cccccc;
}
h1 {
  font-size: 46px;
  font-style: normal;
  font-weight: bold;
  line-height: 120%;
  color: #333333;
}
h2 {
  font-size: 26px;
  font-style: normal;
  font-weight: bold;
  line-height: 120%;
  color: #333333;
}
h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 120%;
  color: #333333;
}
h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
  color: #333333;
}
h5 {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
  color: #333333;
}
h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
  color: #333333;
}
.es-header-body h1 a,
.es-content-body h1 a,
.es-footer-body h1 a {
  font-size: 46px;
}
.es-header-body h2 a,
.es-content-body h2 a,
.es-footer-body h2 a {
  font-size: 26px;
}
.es-header-body h3 a,
.es-content-body h3 a,
.es-footer-body h3 a {
  font-size: 20px;
}
.es-header-body h4 a,
.es-content-body h4 a,
.es-footer-body h4 a {
  font-size: 24px;
}
.es-header-body h5 a,
.es-content-body h5 a,
.es-footer-body h5 a {
  font-size: 20px;
}
.es-header-body h6 a,
.es-content-body h6 a,
.es-footer-body h6 a {
  font-size: 16px;
}
a.es-button, button.es-button {
  padding: 10px 30px 10px 30px;
  display: inline-block;
  background: #5c68e2;
  border-radius: 5px 5px 5px 5px;
  font-size: 20px;
  font-family: arial, 'helvetica neue', helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
  color: #ffffff;
  text-decoration: none !important;
  width: auto;
  text-align: center;
  letter-spacing: 0;
  mso-padding-alt: 0;
  mso-border-alt: 10px solid #5c68e2;
}
.es-button-border {
  border-style: solid;
  border-color: #2cb543 #2cb543 #2cb543 #2cb543;
  background: #5c68e2;
  border-width: 0px 0px 0px 0px;
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  width: auto;
  mso-hide: all;
}
.es-button img {
  display: inline-block;
  vertical-align: middle;
}
.es-fw,
.es-fw .es-button {
  display: block;
}
.es-il,
.es-il .es-button {
  display: inline-block;
}
.es-text-rtl h1,
.es-text-rtl h2,
.es-text-rtl h3,
.es-text-rtl h4,
.es-text-rtl h5,
.es-text-rtl h6,
.es-text-rtl input,
.es-text-rtl label,
.es-text-rtl textarea,
.es-text-rtl p,
.es-text-rtl ol,
.es-text-rtl ul,
.es-text-rtl .es-menu a,
.es-text-rtl .es-table {
  direction: rtl;
}
.es-text-ltr h1,
.es-text-ltr h2,
.es-text-ltr h3,
.es-text-ltr h4,
.es-text-ltr h5,
.es-text-ltr h6,
.es-text-ltr input,
.es-text-ltr label,
.es-text-ltr textarea,
.es-text-ltr p,
.es-text-ltr ol,
.es-text-ltr ul,
.es-text-ltr .es-menu a,
.es-text-ltr .es-table {
  direction: ltr;
}
.es-text-rtl ol, .es-text-rtl ul {
  padding: 0px 40px 0px 0px;
}
.es-text-ltr ul, .es-text-ltr ol {
  padding: 0px 0px 0px 40px;
}
/*
  RESPONSIVE STYLES
  Please do not delete and edit CSS styles below.

  If you don't need responsive layout, please delete this section.
  */
@media only screen and (max-width: 600px) {
  *[class="gmail-fix"] {
    display: none !important;
  }
  p,
  a {
    line-height: 150% !important;
  }
  h1,
  h1 a {
    line-height: 120% !important;
  }
  h2,
  h2 a {
    line-height: 120% !important;
  }
  h3,
  h3 a {
    line-height: 120% !important;
  }
  h4,
  h4 a {
    line-height: 120% !important;
  }
  h5,
  h5 a {
    line-height: 120% !important;
  }
  h6,
  h6 a {
    line-height: 120% !important;
  }
  .es-header-body p {
  }
  .es-content-body p {
  }
  .es-footer-body p {
  }
  .es-infoblock p {
  }
  h1 {
    font-size: 36px !important;
    text-align: left;
  }
  h2 {
    font-size: 26px !important;
    text-align: left;
  }
  h3 {
    font-size: 20px !important;
    text-align: left;
  }
  h4 {
    font-size: 24px !important;
    text-align: left;
  }
  h5 {
    font-size: 20px !important;
    text-align: left;
  }
  h6 {
    font-size: 16px !important;
    text-align: left;
  }
  .es-header-body h1 a,
  .es-content-body h1 a,
  .es-footer-body h1 a {
    font-size: 36px !important;
  }
  .es-header-body h2 a,
  .es-content-body h2 a,
  .es-footer-body h2 a {
    font-size: 26px !important;
  }
  .es-header-body h3 a,
  .es-content-body h3 a,
  .es-footer-body h3 a {
    font-size: 20px !important;
  }
  .es-header-body h4 a,
  .es-content-body h4 a,
  .es-footer-body h4 a {
    font-size: 24px !important;
  }
  .es-header-body h5 a,
  .es-content-body h5 a,
  .es-footer-body h5 a {
    font-size: 20px !important;
  }
  .es-header-body h6 a,
  .es-content-body h6 a,
  .es-footer-body h6 a {
    font-size: 16px !important;
  }
  .es-menu td a {
    font-size: 12px !important;
  }
  .es-header-body p,
  .es-header-body a {
    font-size: 14px !important;
  }
  .es-content-body p,
  .es-content-body a {
    font-size: 14px !important;
  }
  .es-footer-body p,
  .es-footer-body a {
    font-size: 14px !important;
  }
  .es-infoblock p,
  .es-infoblock a {
    font-size: 12px !important;
  }
  .es-m-txt-c,
  .es-m-txt-c h1,
  .es-m-txt-c h2,
  .es-m-txt-c h3,
  .es-m-txt-c h4,
  .es-m-txt-c h5,
  .es-m-txt-c h6 {
    text-align: center !important;
  }
  .es-m-txt-r,
  .es-m-txt-r h1,
  .es-m-txt-r h2,
  .es-m-txt-r h3,
  .es-m-txt-r h4,
  .es-m-txt-r h5,
  .es-m-txt-r h6 {
    text-align: right !important;
  }
  .es-m-txt-j,
  .es-m-txt-j h1,
  .es-m-txt-j h2,
  .es-m-txt-j h3,
  .es-m-txt-j h4,
  .es-m-txt-j h5,
  .es-m-txt-j h6 {
    text-align: justify !important;
  }
  .es-m-txt-l,
  .es-m-txt-l h1,
  .es-m-txt-l h2,
  .es-m-txt-l h3,
  .es-m-txt-l h4,
  .es-m-txt-l h5,
  .es-m-txt-l h6 {
    text-align: left !important;
  }
  .es-m-txt-r img,
  .es-m-txt-c img,
  .es-m-txt-l img {
    display: inline !important;
  }
  .es-m-txt-r .rollover:hover .rollover-second,
  .es-m-txt-c .rollover:hover .rollover-second,
  .es-m-txt-l .rollover:hover .rollover-second {
    display: inline !important;
  }
  .es-m-txt-r .rollover span,
  .es-m-txt-c .rollover span,
  .es-m-txt-l .rollover span {
    line-height: 0 !important;
    font-size: 0 !important;
    display: block;
  }
  .es-spacer {
    display: inline-table;
  }
  a.es-button,
  button.es-button {
    font-size: 20px !important;
    padding: 10px 20px 10px 20px !important;
    line-height: 120% !important;
  }
  a.es-button,
  button.es-button,
  .es-button-border {
    display: inline-block !important;
  }
  .es-m-fw,
  .es-m-fw.es-fw,
  .es-m-fw .es-button {
    display: block !important;
  }
  .es-m-il,
  .es-m-il .es-button,
  .es-social,
  .es-social td,
  .es-menu.es-table-not-adapt {
    display: inline-block !important;
  }
  .es-adaptive table,
  .es-left,
  .es-right {
    width: 100% !important;
  }
  .es-content table,
  .es-header table,
  .es-footer table,
  .es-content,
  .es-footer,
  .es-header {
    width: 100% !important;
    max-width: 600px !important;
  }
  .adapt-img {
    width: 100% !important;
    height: auto !important;
  }
  .es-adapt-td {
    display: block !important;
    width: 100% !important;
  }
  .es-mobile-hidden,
  .es-hidden {
    display: none !important;
  }
  .es-container-hidden {
    display: none !important;
  }
  .es-desk-hidden {
    width: auto !important;
    overflow: visible !important;
    float: none !important;
    max-height: inherit !important;
    line-height: inherit !important;
  }
  tr.es-desk-hidden {
    display: table-row !important;
  }
  table.es-desk-hidden {
    display: table !important;
  }
  td.es-desk-hidden {
    display: table-cell !important;
  }
  td.es-desk-menu-hidden {
    display: table-cell !important;
  }
  .es-menu td {
    width: 1% !important;
  }
  table.es-table-not-adapt,
  .esd-block-html table {
    width: auto !important;
  }
  .h-auto {
    height: auto !important;
  }
}
/*
  END RESPONSIVE STYLES
*/
